[package]
name = "km"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0"
clap = { version = "4.5", features = ["derive"] }
regex = "1.10"
serde_json = "1.0"
uuid = { version = "1.0", features = ["v4"] }
